.nurseDashboar_main{
    width: 100%;
    display: flex;
    gap: 30px;

}
.card_main{
    width: 250px;
    height: 160px;
    background-color: #9967cb;
    padding: 20px;
    border-radius: 10px;
    color: rgb(234, 234, 234);
}
.card_main h4{
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 168, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    
}












